mj-section
    mj-column
        mj-text 3, 2, 1... Streamez !
mj-section
    mj-column
        mj-image(src="./images/interieurMaison.jpg" alt="")/
mj-section
    mj-column
        mj-text Streamez en continu
        mj-text Nos Solutions WiFi Mesh permettent à toute la famille de streamer sans ralentissement, ou interruption, de passer des appels vidéo et de jouer en ligne simultanément, sans que votre connexion WiFi ne ralentisse.
        mj-text Découvrez nos Solutions WiFi et optez pour celle qui vous conviendra par rapport à la vitesse WiFi recherchée, au nombre d'appareils connectés ou en encore à la superficie de votre maison.
        mj-text La bonne nouvelle est que vous pouvez profiter dès maintenant de promos exlusives sur nos meilleures Solutions WiFi qui vous maintiendront tous connectés !