mj-section(mj-class="bgT1" padding="25px 45px")
    mj-column
        mj-text(padding="0" align="center" mj-class="T32-300 cTW" letter-spacing="2px") 3, 2, 1... Streamez !
mj-section(padding="0")
    mj-column(width="100%")
        mj-image(padding="0" width="700px" src="./images/interieurMaison.jpg" alt="")/
mj-section(mj-class="bgW" padding="15px 25px")
    mj-column( border="1px solid #CECECE" padding="10px")
        mj-text(padding="0" padding-bottom="20px" align="center" mj-class="T26-500 cT1" letter-spacing="0.5px") Streamez en continu
        mj-text(padding="0" padding-bottom="20px" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Nos #[strong Solutions WiFi Mesh] permettent à toute la famille de streamer sans ralentissement, ou interruption, de passer des appels vidéo et de jouer en ligne simultanément, sans que votre connexion WiFi ne ralentisse.
        mj-text(padding="0" padding-bottom="20px" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Découvrez nos #[strong Solutions WiFi] et optez pour celle qui vous conviendra par rapport à la vitesse WiFi recherchée, au nombre d'appareils connectés ou en encore à la superficie de votre maison.
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") La bonne nouvelle est que vous pouvez profiter #[strong dès maintenant de promos exclusives sur nos meilleurs Solutions WiFi] qui vous maintiendront tous connectés&nbsp;!