mj-section(mj-class="bgB")
    mj-column
        mj-image(padding="0" width="200px" src="./images/WIFIblue.png" alt="")/
        mj-text(padding="0" align="center" mj-class="T30-300 cTW" text-transform="uppercase") Système mesh orbi wifi 6
        mj-text(padding="0" align="center" mj-class="T17-500 cTW" letter-spacing="0.5px") Avec les Systèmes Mesh Orbi WiFi 6, vous pouvez résoudre de façon permanente les problèmes de couverture WiFi dans toute votre maison. Tous les membres de votre famille seront conquis grâce à la connexion Wifi ultre-rapide. Vous ne pourrez même plus vous en passer.
mj-section(mj-class="bgW")
    mj-column(width="50%")
        mj-image(src="./images/RBK752.jpg" alt="")/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Système Mesh Orbi WiFi 6 AX4200
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") (RBK752) #[strong Jusqu'à 350m #[sup(style="line-height:0px;") 2]]
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="color:#ff0000;text-decoration-line:line-through;") 499.99€] #[strong(style="color:#00a3de") 359.99€]
        mj-button(mj-class="bgB") J'en profite
    mj-column(width="50%")
        mj-image(src="./images/RBK753.jpg" alt="")/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Système Mesh Orbi WiFi 6 AX4200
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") (RBK753) #[strong Jusqu'à 525m #[sup(style="line-height:0px;") 2]]
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="color:#ff0000;text-decoration-line:line-through;") 699.99€] #[strong(style="color:#00a3de") 509.99€]
        mj-button(mj-class="bgB") J'en profite
    mj-column(width="50%")
        mj-image(src="./images/RBK754.jpg" alt="")/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Système Mesh Orbi WiFi 6 AX4200
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") (RBK754) #[strong Jusqu'à 700m #[sup(style="line-height:0px") 2]]
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="color:#ff0000;text-decoration-line:line-through;") 929.99€] #[strong(style="color:#00a3de;") 669.99€]
        mj-button(mj-class="bgB") J'en profite
    mj-column(width="50%")
        mj-image(src="./images/RBK755.jpg" alt="")/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Système Mesh Orbi WiFi 6 AX4200
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") (RBK755) #[strong Jusqu'à 875m #[sup(style="line-height:0px") 2]]
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="color:#ff0000;text-decoration-line:line-through;") 1149.99€] #[strong(style="color:#00a3de;") 849.99€]
        mj-button(mj-class="bgB") J'en profite
    mj-column(width="50%")
        mj-image(src="./images/RBK352.jpg" alt="")/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Système Mesh Orbi WiFi 6 AX1800 
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") (RBK352) #[strong Jusqu'à 200m #[sup(style="line-height:0px") 2]]
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="color:#ff0000;text-decoration-line:line-through;") 249.99€] #[strong(style="color:#00a3de;") 179.99€]
        mj-button(mj-class="bgB") J'en profite
    mj-column(width="50%")
        mj-image(src="./images/RBK353.jpg" alt="")/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Système Mesh Orbi WiFi 6 AX1800
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") (RBK353) #[strong Jusqu'à 300m #[sup(style="line-height:0px") 2]]
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="color:#ff0000;text-decoration-line:line-through;") 349.99€] #[strong(style="color:#00a3de;") 259.99€] 
        mj-button(mj-class="bgB") J'en profite