mj-section
    mj-column
        mj-image(src="./images/WIFIblue.png" alt="")/
        mj-text Système mesh orbi wifi 6
        mj-text Avec les Systèmes Mesh Orbi WiFi 6, vous pouvez résoudre de façon permanente les problèmes de couverture WiFi dans toute votre maison. Tous les membres de votre famille seront conquis grâce à la connexion Wifi ultre-rapide. Vous ne pourrez même plus vous en passer.
mj-section
    mj-column
        mj-image(src="./images/RBK752.jpg" alt="")/
        mj-text Système Mesh Orbi WiFi 6 AX4200
        mj-text (RBK752) Jusqu'à 350m2
        mj-text 499.99€ 359.99€
        mj-button J'en profite
    mj-column
        mj-image(src="./images/RBK753.jpg" alt="")/
        mj-text Système Mesh Orbi WiFi 6 AX4200
        mj-text (RBK753) Jusqu'à 525m2
        mj-text 699.99€ 509.99€
        mj-button J'en profite
    mj-column
        mj-image(src="./images/RBK754.jpg" alt="")/
        mj-text Système Mesh Orbi WiFi 6 AX4200
        mj-text (RBK754) Jusqu'à 700m2
        mj-text 929.99€ 669.99€
        mj-button J'en profite
    mj-column
        mj-image(src="./images/RBK755.jpg" alt="")/
        mj-text Système Mesh Orbi WiFi 6 AX4200
        mj-text (RBK755) Jusqu'à 875m2
        mj-text 1149.99€ 849.99€
        mj-button J'en profite
    mj-column
        mj-image(src="./images/RBK352.jpg" alt="")/
        mj-text Système Mesh Orbi WiFi 6 AX1800 
        mj-text (RBK352) Jusqu'à 200m2
        mj-text 249.99€ 179.99€
        mj-button J'en profite
    mj-column
        mj-image(src="./images/RBK353.jpg" alt="")/
        mj-text Système Mesh Orbi WiFi 6 AX1800
        mj-text (RBK353) Jusqu'à 300m2
        mj-text 349.99€ 259.99€
        mj-button J'en profite