mj-section(mj-class="bg0")
    mj-column
        mj-image(width="234px" src="./images/WIFIblack.png" alt="")/
        mj-text(align="center" mj-class="T30-300 cTW" text-transform="uppercase") répéteurs wifi
        mj-text(align="center" mj-class="T17-500 cTW" letter-spacing="0.5px") Ajoutez un répéteur WiFi à votre box ou routeur pour étendre votre connexion là où il n'y a pas de couverture WiFi.
mj-section(mj-class="bgW")
    mj-column
        mj-image(src="./images/repeteurWiFi6MeshAX6000.jpg" alt="")/
        mj-text(align="center" padding="0" mj-class="T17-500 cT0" letter-spacing=".5px") Répéteur #[strong WiFi 6 Mesh]
        mj-text(align="center" padding="0" mj-class="T17-500 cT0" letter-spacing=".5px") AX6000 (EAX80)
        mj-text(align="center" padding="0" mj-class="T17-500 cT0" letter-spacing=".5px") #[span(style="color:#ff0000;") 299.99€] 199.99€
        mj-button(mj-class="bg0") J'en profite
    mj-column
        mj-image(src="./images/repeteurWiFi5MeshAC3000.jpg" alt="")/
        mj-text(align="center" padding="0" mj-class="T17-500 cT0" letter-spacing=".5px") Répéteur #[strong WiFi 5 Mesh]
        mj-text(align="center" padding="0" mj-class="T17-500 cT0" letter-spacing=".5px") AC3000 (EX8000)
        mj-text(align="center" padding="0" mj-class="T17-500 cT0" letter-spacing=".5px") #[span(style="color:#ff0000;") 169.99€] 139.99€
        mj-button(mj-class="bg0") J'en profite