mj-section
    mj-column
        mj-image(src="./images/WIFIblack.png" alt="")/
        mj-text répéteurs wifi
        mj-text Ajoutez un répéteur WiFi à votre box ou routeur pour étendre votre connexion là où il n'y a pas de couverture WiFi.
mj-section
    mj-column
        mj-image(src="./images/repeteurWiFi6MeshAX6000.jpg" alt="")/
        mj-text Répéteur WiFi 6 Mesh
        mj-text AX6000 (EAX80)
        mj-text 299.99€ 199.99€
        mj-button J'en profite
    mj-column
        mj-image(src="./images/repeteurWiFi5MeshAC3000.jpg" alt="")/
        mj-text Répéteur WiFi 5 Mesh
        mj-text AC3000 (EX8000)
        mj-text 169.99€ 139.99€
        mj-button J'en profite